<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {{ include('banner.html.twig', { error, fbAccessToken }) }}
    <div class="md:container md:mx-auto my-8">
        {{ include('main.html.twig', { fbLoginUrl, fbAccessToken, fbUserId, fbUserEmail, fbUserPic }) }}
    </div>
</body>
</html>